
<!-- Breadcrumb Section Begin -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>Các {{room.name}} của chúng tôi</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Breadcrumb Section End -->
